.homescreen-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .homescreen-wrapper.active {
    height: 25% !important; }
  .homescreen-wrapper .homescreen-bg {
    width: 100%;
    height: 100%;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/28/790/362/marvel-comics-deadpool-wallpaper-preview.jpg");
    background-size: cover; }
  .homescreen-wrapper .homescreen-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
