.moviemodal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .details {
    display: flex;
  }

  .poster {    width: 250px;
    height: auto;
  }

  .content {
    flex: 0 15 auto;
  }

  .description {
    max-height: 70vh;
    overflow: auto;
  }
}